.nav--links {
  display: none;
}

main {
  padding: 0 25px;
}

.project--title {
    font-size: 48px;
}

.project {
  width: 100%;
}

#project-jj {
    background: linear-gradient(245.73deg, #FFA28D 0%, #EF47D4 100%);
    padding: 100px 25px 0 25px;
}

#project-jj--image {
    margin-top: 75px;
}

footer {
  flex-direction: column-reverse;
}
